<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Fragment</title>
</head>
<body>
<header th:fragment="header" class="header">
    <th:block sec:authorize="isAnonymous()">
        <a th:href="@{/}" class="brand">
            <img th:src="@{/images/tgv-logo.png}"
                 alt="The Game Vault logo"
                 class="logo-img">

            <div class="brand-text">
                <h2>THE GAME VAULT</h2>
                <p>Your adventure. Your collection.</p>
            </div>
        </a>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <a th:href="@{/home}" class="brand">
            <img th:src="@{/images/tgv-logo.png}"
             alt="The Game Vault logo"
             class="logo-img">

            <div class="brand-text">
                <h2>THE GAME VAULT</h2>
                <p>Your adventure. Your collection.</p>
            </div>
        </a>
    </th:block>

    <nav>
        <a href="#">Features</a>
        <a href="#">About</a>
        <a href="#">Contact</a>

        <th:block sec:authorize="isAnonymous()">
        <a th:href="@{/login}" class="login">
            LOGIN
        </a>

        <a th:href="@{/register}" class="register">
            REGISTER
        </a>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}">
                <span sec:authentication="name">
                    User
                </span>
            </a>

            <form class="form-logout" th:action="@{/logout}" method="post">
                <button type="submit" class="logout">
                    LOGOUT
                </button>
            </form>
        </th:block>
    </nav>
</header>
</body>
</html>