
body{
    background: linear-gradient(
                    rgba(0,0,0,.45),
                    rgba(0,0,0,.85)),
            url("../images/cave-bg.png");
}

.hero-content{
    width:500px;
}

h1{
    font-size:69px;
    line-height:.95;
}

.hero p{
    margin-top:30px;
    font-size:22px;
    color:#aaa;
}

.actions{
    display:flex;
    gap:20px;
    margin-top:40px;
}

.gold{
    background:#c89a55;
}

.dark{
    background:transparent;
}

.center-chest{
    display:flex;
    align-items:center;
}

.center-chest img{
    width:350px;
    filter:
            drop-shadow(
                    0 0 50px
                    gold
            );
}

.features{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:90px;
}

.features div{
    text-align:center;
    width:180px;
}

.features h3{
    margin:15px 0;
}