body{
    background:
            linear-gradient(
                    rgba(0,0,0,0.65),
                    rgba(0,0,0,0.80)
            ),
            url("../images/chest-opened.png");
    background-size: cover;
}

body{
    background-position: center;
}

.success-container{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.success-card{
    transform: translateX(-14px);
    background:rgba(10,10,10,.72);
    border:1px solid rgba(212,175,55,.18);
    border-radius:24px;
    padding:55px 45px;
    text-align:center;
    box-shadow: 0 20px 60px rgba(0,0,0,.45);
}

.success-card h1{
    color:#ddb57a;
    margin-bottom:20px;
    font-size:38px;
}

.success-card p{
    color:#7bc381;
    line-height:1.7;
    margin-bottom:40px;
    font-size:18px;
}

.success-btn{
    display:inline-block;
    text-decoration:none;
    padding:16px 42px;
    border-radius:14px;
    background: linear-gradient(135deg, #ddb57a, #c89a55);
    color:#111;
    font-weight:bold;
    transition:.25s;
}

.success-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(212,175,55,.35);
}

@media (max-width:768px){
    .success-card{
        width:100%;
        padding:40px 28px;
    }

    .success-card h1{
        font-size:30px;
    }
}


