<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>The Game Vault | Home</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
<div th:insert="~{fragments/nav-bar :: header}"></div>

<main class="home">
    <section class="welcome">
        <h1>Welcome,
            <span th:text="${username}">
                Adventurer
            </span>!
        </h1>

        <p>Build your legendary collection.</p>
    </section>

    <section class="games-library">
        <a th:href="@{/games}" class="games-link">Browse Games</a>

        <h3>Recently added: </h3>

        <div class="games-container">
            <div class="games-grid">
                <div th:each="game : ${latestGames}" class="game-card">
                    <h5>Name:</h5>
                    <h4 th:text="${game.name}"></h4>
                    <h5>Genre:</h5>
                    <p th:text="${game.genre}"></p>
                </div>
            </div>
        </div>
    </section>

</main>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>