<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>The Game Vault</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>

<div class="page-container">

    <div th:insert="~{fragments/nav-bar :: header}"></div>

    <main>

        <section class="hero">

            <div class="hero-content">

                <h1>
                    UNLOCK.<br>
                    MANAGE.<br>
                    EXPLORE.
                </h1>

                <p>
                    Track your game library,
                    unlock achievements
                    and build your vault.
                </p>

                <div class="actions">

                    <a th:href="@{/login}">
                        <button class="gold">
                            🔒 UNLOCK THE VAULT
                        </button>
                    </a>

                    <button class="dark">
                        LEARN MORE
                    </button>

                </div>
            </div>

        </section>

        <section class="features">

            <div>
                💻
                <h3>Organize</h3>
                <p>
                    Manage your collection.
                </p>
            </div>

            <div>
                ⚔️
                <h3>Track</h3>
                <p>
                    Track progress.
                </p>
            </div>

            <div>
                🏆
                <h3>Achieve</h3>
                <p>
                    Unlock milestones.
                </p>
            </div>

            <div>
                🗺️
                <h3>Explore</h3>
                <p>
                    Discover new adventures.
                </p>
            </div>

        </section>


    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>

</div>

</body>

</html>