<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>TGV | Login</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div th:insert="~{fragments/nav-bar :: header}"></div>

<div class="main.login">
    <div class="auth">
        <form th:action="@{/login}"
          method="post">
         <h2>Enter The Vault</h2>

            <input name="username"
                   placeholder="Username">

            <input type="password"
                   name="password"
                   placeholder="Password">

            <button>
            OPEN CHEST
            </button>

            <div class="error" th:if="${error}">
                <span th:text="${error}"></span>
            </div>
        </form>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>