<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>The Game Vault | Profile</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <script th:src="@{/js/toggleEdit.js}" defer></script>
</head>

<body>
<div th:insert="~{fragments/nav-bar :: header}"></div>

<div class="content-wrapper">
    <section class="profile-header card">
        <div>
            <h2> Adventurer:
                <span th:text="${user.username}">Adventurer</span>
            </h2>

            <p class="bio">
                About me:
                <span th:text="${user.bio ?: 'No bio yet.'}"></span>
            </p>

            <p>
                Collector since:
                <span th:text="${user.createdOn}">16 Jun 2026</span>
            </p>
        </div>

        <form class="form-edit-profile" th:action="@{/profile/edit}" method="get">
        <button type="submit" class="edit-button">Edit Profile</button>
        </form>
    </section>

<main class="profile-page">
    <section class="account-info card">
        <h3>Account Information</h3>

        <p>
            Username:
            <span th:text="${user.username}">adventurer123</span>
        </p>

        <p>
            Email:
            <span th:text="${user.email}">ani@example.com</span>
        </p>

        <p>
            Member Since:
            <span th:text="${user.createdOn}">16 Jun 2026</span>
        </p>
    </section>

    <section class="collections-preview card">

        <h3 class="section-title">My Collection</h3>

        <div class="collection-grid">

            <div th:if="${#lists.isEmpty(collection)}">
                No games added yet.
            </div>

            <div class="game-card" th:each="entry : ${collection}">

                <div class="view-mode">

                    <h4 th:text="${entry.game.name}"></h4>

                    <p th:text="${entry.status}"></p>

                    <p>
                        Rating:
                        <span th:text="${entry.rating}"></span>
                    </p>

                    <p>
                        Hours:
                        <span th:text="${entry.hoursPlayed}"></span>
                    </p>

                    <div class="button-container">

                    <button class="edit-btn"
                            type="button"
                            onclick="toggleEdit(this)">
                        Edit
                    </button>

                    <form class="remove-game-form" th:action="@{/gameLibrary/remove/{id}(id=${entry.game.id})}"
                          method="post">

                        <button class="remove-btn"
                                type="submit">
                            Remove
                        </button>

                    </form>

                    </div>

                </div>

                <form class="edit-form hidden" th:action="@{/gameLibrary/edit/{id}(id=${entry.id})}" method="post">

                    <h4 th:text="${entry.game.name}"></h4>

                    <select name="status">
                        <option th:each="status : ${T(app.model.enums.GameStatus).values()}"
                                th:value="${status}"
                                th:text="${status}"
                                th:selected="${status == entry.status}">
                        </option>
                    </select>

                    <input type="number"
                           min="0"
                           max="10"
                           step="0.1"
                           name="rating"
                           placeholder="Add rating"
                           th:value="${entry.rating}">

                    <input type="number"
                           name="hoursPlayed"
                           placeholder="Hours played"
                           th:value="${entry.hoursPlayed}">

                    <button class="save-btn" type="submit">
                        Save
                    </button>

                    <button class="cancel-btn" type="button"
                            onclick="toggleEdit(this)">
                        Cancel
                    </button>

                </form>

            </div>
        </div>

    </section>
</main>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>