<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">

<head>

    <meta charset="UTF-8">
    <title>TGV | Register</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">

</head>

<body>

<div th:insert="~{fragments/nav-bar :: header}"></div>

    <main class="auth">
        <form th:action="@{/register}"
              th:object="${userRegisterRequest}"
          method="post">

            <h2>Create Adventurer</h2>
                <input  th:field="*{username}"
                    placeholder="Username">

            <div class="error"
                 th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}">
            </div>

                <input th:field="*{email}"
                    placeholder="Email">

            <div class="error"
                 th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}">
            </div>

                <input
                    type="password"
                    th:field="*{password}"
                    placeholder="Password">

            <div class="error"
                 th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}">
            </div>

                <input
                    type="password"
                    th:field="*{confirmPassword}"
                    placeholder="Confirm Password">

            <div class="error"
                 th:if="${#fields.hasErrors('confirmPassword')}"
                 th:errors="*{confirmPassword}">
            </div>

            <div class="error"
                 th:if="${passwordError}"
                 th:text="${passwordError}">
            </div>

            <button type="submit" class="register-btn"> CLAIM TREASURE </button>

        </form>
    </main>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>

</html>